<!DOCTYPE html>
<html>
	<head>
		<title>Scrabble Word Scorer</title>
		<meta charset="UTF-8">
	</head>

	<body>
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

		<header>
			<nav>
				<h1>Unofficial Scrabble Word Scorer!</h1>
				<ul>
					<li><a href="/score">Score A Word</a></li>
					<li><a href="/score-many">Score Many Words</a></li>
					<li><a href="http://scrabblewordfinder.org/dictionary-checker">Scrabble Dictionary</a></li>
				</ul>
			</nav>
		</header>


			<%= yield %>


		<footer>
			<p class="disclaimer">(The small print: We don't actually check if the words you enter are valid Scrabble plays. Not an official Scrabble tool. No warrantee implied. No liability accepted for pedantic arguments about proper spelling. Not responsible for injuries sustained from flying Scrabble tiles. Scores only valid for English edition of Scrabble. Do not eat. Not a toy. Safety goggles required during use. Discontinue use of this product if any of the following occurs: itching, aching, vertigo, dizziness, ringing in your ears, vomiting, giddiness, aural or visual hallucinations, tingling in extremities, loss of balance or coordination, slurred speech, temporary blindness, drowsiness, insomnia, profuse sweating, shivering, or heart palpitations. DO NOT DELETE THIS LINE -- make depend depends on it. Warranty does not cover normal wear and tear, misuse, accident, lightning, flood, hail storm, tornado, tsunami, volcanic eruption, avalanche, earthquake or tremor, hurricane, solar activity, meteorite strike, nearby supernova and other Acts of God, neglect, damage from improper or unauthorised use, incorrect line voltage, unauthorised use, unauthorised repair, improper installation, typographical errors, broken antenna or marred cabinet, missing or altered serial numbers, electromagnetic radiation from nuclear blasts, microwave ovens or mobile phones, sonic boom vibrations, ionising radiation, customer adjustments that are not covered in this list, and incidents owing to an airplane crash, ship sinking or taking on water, motor vehicle crashing, dropping the item, falling rocks, leaky roof, broken glass, disk failure, accidental file deletions, mud slides, forest fire, riots or other civil unrest, acts of terrorism or war, whether declared or not, explosive devices or projectiles (which can include, but may not be limited to, arrows, crossbow bolts, air gun pellets, bullets, shot, cannon balls, BBs, shrapnel, lasers, napalm, torpedoes, ICBMs, or emissions of electromagnetic radiation such as radio waves, microwaves, infra-red radiation, visible light, UV, X-rays, alpha, beta and gamma rays, neutrons, neutrinos, positrons, N-rays, knives, stones, bricks, spit-wads, spears, javelins etc.).)</p>
		</footer>	
	</body>
</html>