<!DOCTYPE html>
<html>
	<head>
		<title>Scrabble Word Scorer</title>
		<meta charset="UTF-8">
	</head>

	<body>
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

		<header>
			<nav>
				<h1>Unofficial Scrabble Word Scorer!</h1>
				<ul>
					<li><a href="/score">Score A Word</a></li>
					<li><a href="/score-many">Score Many Words</a></li>
					<li><a href="http://scrabblewordfinder.org/dictionary-checker">Scrabble Dictionary</a></li>
				</ul>
			</nav>
		</header>


			<%= yield %>


		<footer>
			<p class="disclaimer">(The small print: We don't actually check if the words you enter are valid Scrabble plays. Not an official Scrabble tool. No warrantee implied. No liability accepted for pedantic arguments about proper spelling. Not responsible for injuries sustained from flying Scrabble tiles.)</p>
		</footer>	
	</body>
</html>