<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Scrabble Word Scorer</title>
	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/styles.css">

		<header>
			<nav>
				<ul>
					<li><a href="/score">Score A Word</a></li>
					<li><a href="/score_many">Score Many Words</a></li>
					<li><a href="http://scrabblewordfinder.org/dictionary-checker">Scrabble Dictionary</a></li>
				</ul>
			</nav>

		</header>

			<%= yield %>

		<footer>
			<p class="disclaimer">(The small print: We don't actually check if the words you enter are valid Scrabble plays. Not an official Scrabble tool. No warrantee implied. No liability accepted for pedantic arguments about proper spelling. Not responsible for injuries sustained from flying Scrabble tiles.)</p>
		</footer>	
	</body>
</html>