

<% if @word_to_score %>
	<p>The word you checked was: <%= @word_to_score %>.</p>
	<p>The score for this word is: <%= @word_score %> points.</p>
<% end %>


<p>This form will allow you to find the score for a single word. If you type more than one word I will only give you the score for the first one. </p>

<form action="" method="post" accept-charset="utf-8">
	<fieldset>
	  <label for="word-score">Word to Score:</label>
		<input type="text" name="word-score[]" value="" id="word-score">
	</fieldset>
</form>

