<p>This form will allow you to find the score for a single word. If you enter more than one word in the box below, I will only score the first one entered.</p>

<!-- The form will go here. -->
<form>
	<fieldset class="single-scorer">
		<input type="text">
	</fieldset>

</form>