

<% if @score_word %>
	<p>The word you checked was: <%= @score_word %>.</p>
	<p>The score for this word is: <%= @word_score %> points.</p>
<% end %>


<p>This form will allow you to find the score for a word.</p>

<form action="" method="post" accept-charset="utf-8">
	<fieldset>
	  <label for="word-score">Word to Score:</label>
		<input type="text" name="word-score[]" value="" id="word-score">
	</fieldset>
</form>

